body {
    background:#717744;
    font-family: Arial, Helvetica, sans-serif;
}

#cont {
    margin: 6% 6%;
}

.status {
    position: relative;
    float: left;
    width: 24%;
    margin-left: 6%;
}

.new {
    position: relative;
    float: left;
    width: 24%;
    margin-left: 6%;
}

.prev {
    position: relative;
    float: left;
    width: 24%;
    margin-left: 6%;
}

.chunk {
    margin-bottom: 5%;
    font-size: 22px;
}