body {
    background:#717744;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 22px;
    width: 50%;
}

#cont {
    margin: 6% 6%;
}

.status {
    position: relative;
    float: left;
    width: 26%;
    margin-left: 4%;
}

.new {
    position: relative;
    float: left;
    width: 26%;
    margin-left: 4%;
}

.prev {
    position: relative;
    float: left;
    width: 26%;
    margin-left: 4%;
}

.chunk {
    margin-bottom: 5%;
    font-size: 22px;
}